doctype html
html(lang="ru")
    head
    meta(charset='UTF-8')
    title TRANSLIGHT
    meta(name='viewport', content='width=device-width,initial-scale=1')
    link(rel="stylesheet", href="./css/style.css")
    body
        main
            include includes/header.pug
            include includes/first.pug
            include includes/projects.pug
            include includes/catalog.pug
            include includes/rent.pug
            include includes/news.pug
            include includes/footer.pug
            script(src='js/script.js')