section.catalog
    .catalog__cont.cont
        h2.title.catalog__title
         | Каталог продукции
        .catalog-firm__list
            a.catalog-firm__link.catalog-firm__link_active Robe
            a.catalog-firm__link Compulite
        ul.catalog-product__list
            li.catalog-product__item
                a.catalog-product__link(href='#')
                    img.catalog-product__link-img(src='./img/catalog__img-1.png',width=294,height=294, alt='Фото выполненного проекта')
                    .catalog-product__description
                            h4.little__title.catalog-product__description__title
                                | Статичные<br> светодиодные приборы
            li.catalog-product__item
                a.catalog-product__link(href='#')
                    img.catalog-product__link-img(src='./img/catalog__img-2.png',width=300,height=207, alt='Фото выполненного проекта')
                    .catalog-product__description
                            h4.little__title.catalog-product__description__title
                                | Контроллеры
            li.catalog-product__item
                a.catalog-product__link(href='#')
                    img.catalog-product__link-img(src='./img/catalog__img-3.png',width=350,height=300, alt='Фото выполненного проекта')
                    .catalog-product__description
                            h4.little__title.catalog-product__description__title
                                | Аксессуары
        ul.catalog-product__list
            li.catalog-product__item
                a.catalog-product__link(href='#')
                    img.catalog-product__link-img(src='./img/catalog__img-1.png',width=294,height=294, alt='Фото выполненного проекта')
                    .catalog-product__description
                            h4.little__title.catalog-product__description__title
                                | Статичные<br> светодиодные приборы
            li.catalog-product__item
                a.catalog-product__link(href='#')
                    img.catalog-product__link-img(src='./img/catalog__img-2.png',width=300,height=207, alt='Фото выполненного проекта')
                    .catalog-product__description
                            h4.little__title.catalog-product__description__title
                                | Контроллеры
            li.catalog-product__item
                a.catalog-product__link(href='#')
                    img.catalog-product__link-img(src='./img/catalog__img-3.png',width=350,height=300, alt='Фото выполненного проекта')
                    .catalog-product__description
                            h4.little__title.catalog-product__description__title
                                | Аксессуары


