section.first-screen
    .first-screen__cont.cont
        h1.caption.first-screen__caption
         | Светотехническое оборудование в Петербурге
        p.description.first-screen__description
         | Продажа, аренда светотехнического оборудования. Оформление официальных мероприятий под ключ.
        a.first-screen__btn(href='#') Перейти
