footer.footer
    .footer__cont.cont
        .footer__top
            a.footer__tel.little__title(href='tel:78127108025') (812) 710-80-25
            p.footer__adress
             | 191180, Санкт-Петербург, Набережная реки Фонтанки, 90, корпус 1
            a.footer__email(href='mail@translight.ru') mail@translight.ru
        .footer__middle
            ul.footer__menu-list
                li.footer__menu-item
                    a.footer__menu__link(href='#') О компании
                li.footer__menu-item
                    a.footer__menu__link(href='#') Новости
                li.footer__menu-item
                    a.footer__menu__link(href='#') Каталог
                li.footer__menu-item
                    a.footer__menu__link(href='#') Аренда
                li.footer__menu-item
                    a.footer__menu__link(href='#') Наши проекты
                li.footer__menu-item
                    a.footer__menu__link(href='#') Сервисное обслуживание
        .footer__bottom
            span.footer__copyright © 2019 ЗАО «Транслайт». Все права защищены.
            span.footer__design-autor Разработка и дизайн - D-e-n.ru