header.header
    .header__cont
        a.header__logo(href='#')
            img.header__logo-img(src="../img/logo.svg", width='140', height='58', alt='Логотип')
        nav.header__nav
            ul.header__nav-list
                li.header__nav-item
                    a.header__nav-link(href='#') О компании
                li.header__nav-item
                    a.header__nav-link(href='#') Портфолио
                li.header__nav-item
                    a.header__nav-link(href='#') Каталог
                li.header__nav-item
                    a.header__nav-link(href='#') Сервис
                li.header__nav-item
                    a.header__nav-link(href='#') Контакты