section.help
    .help__cont.cont
        h2.title.help__title
         |  Помогает#[br] при стрессе,#[br] фобиях и тревожности
        ul.help__list
            li.help__item
                span.help__link.help__link_active
                 | О стрессе
            li.help__item
                a.help__link(href='#')
                 | фобиях
            li.help__item
                a.help__link(href='#')
                 | тревожности
        p.description.help__description
         | Хронический психологический стресс — неотъемлемая часть жизни человека в современном цивилизованном мире. Многочисленные исследования и опросы убедительно свидетельствуют о том, что ХПС в настоящее время носит характер эпидемии. Около 75% опрошенных заявили, что стресс не дает им в полной мере наслаждаться жизнью. Поэтому  не случайно Всемирная организация здравоохранения  назвала хронический стресс и тревожность эпидемией XXI века. В отличие от классического стресса, ХПС наносит ощутимый ущерб, как здоровью отдельного человека, так и экономике развитых стран.                                                                                     Результаты последних опросов о том, как стресс влияет на жизнь человека, показали, что 21% респондентов рассказали о негативном влиянии стресса  на их отношениях с друзьями, 19% заявили, что стресс ударил по их семейной жизни, а 15% опрошенных сказали, что стресс повлиял на качество их труда и почти 50%  заявили, что стресс сказался на их здоровье.
        p.descr.help__descr
         | #[span 75%]#[br] опрошенных заявили, что стресс не дает им в полной мере наслаждаться жизнью.




