section.news
    .news__cont.cont
        h2.title.news__title
         | Новости
        .news__btn-wrap
            a.news__btn(href='#') Все новости
        .news__area
            .news__big
                .news__big-img
                    img.news__big-image(src='./img/news__img-big.jpg', width='255', height='244', alt='Фото прошедшего семинара')
                .news__column
                    h4.little__title.news__column-title
                     | Семинар Milos
                    time.news__column-date(datetime='01.27.2019') 27.01.2019
                    p.news__column-text
                     | Наши сотрудники прошли последний семинар от компании Milos. Они получили новый объем знаний, который позволит нашей компании заниматься оборудованием не только мероприятий, но производственных помещений.
                    a.news__column-btn(href='#') Читать полностью...
            .news__small
                a.news__link(href='#')
                    h4.little__title.news__small-title
                     | Выставка Prolight+Sound NAMM Russia 2016
                    p.news__small-text
                        | 30 контрактов, тысячи восторженных посетителей...
                    .news__small-img
                        img.news__small-image(src='./img/news__img-small-1.jpg', width='128', height='115', alt='Фото прошедшего семинара')
                    time.news__small-date(datetime='01.27.2019') 27.01.2019
            .news__small
                a.news__link(href='#')
                    h4.little__title.news__small-title
                        | Семинар  Robe
                    p.news__small-text
                        | 30 января 2017 года наши сотрудники побывали в Берлине...
                    .news__small-img
                        img.news__small-image(src='./img/news__img-small-2.jpg', width='128', height='115', alt='Фото прошедшего семинара')
                    time.news__small-date(datetime='01.27.2019') 27.01.2019
