section.profession
    .profession__cont.cont
        h2.title.profession__title
         | Стрессогенные профессии
        p.description.profession__description
         | Сотрудники Университета Южной Калифорнии, изучающие производственный стресс, обнаружили, что на стрессогенность профессии в основном влияют два фактора. Первый – свобода в принятии решения, то есть степень контроля служащего над своей деятельностью; второй – психологический прессинг.
        .profession__list
         | #[span.profession__item Разнорабочие]
         | #[span.profession__item Секретари]
         | #[span.profession__item Инспекторы]
         | #[span.profession__item Офис-менеджеры]
         | #[span.profession__item Менеджеры и администраторы]
         | #[span.profession__item Официанты]
         | #[span.profession__item Учителя старших классов]
         | #[span.profession__item Рабочие на сборочных конвейерах]
         | #[span.profession__item Работники правоохранительных органов]
         | #[span.profession__item Шахтеры]
         | #[span.profession__item Авиадиспетчеры]
         | #[span.profession__item Биржевые брокеры]
         | #[span.profession__item Журналисты]
         | #[span.profession__item Сотрудники отделов по обслуживанию клиентов]
         | #[span.profession__item Кассиры]
         p.descr.profession__descr
             | Список составлен Американским национальным институтом охраны труда, Американским национальным институтом оплаты служащих и Американским институтом исследования стресса.