section.projects
    .projects__cont.cont
        h2.title.projects__title
         | Наши проекты
        .slider
            .slider__list
                .projects__slider-buttons.slider-buttons
                    button.slider-btn.slider-btn_prev(type='button')
                    button.slider-btn.slider-btn_next(type='button')
                ul.projects__list
                    li.projects__item
                        a.projects__link(href='#')
                            img.projects__link-img(src='./img/projects__img-1.jpg',width=540,height=400, alt='Фото выполненного проекта')
                            .projects__description
                                h4.little__title.projects__description__title
                                 | ССК “ОЛИМП”
                                p.projects__description__text
                                 | Световое оформление форума “Шубы-2019”
                    li.projects__item
                        a.projects__link(href='#')
                            img.projects__link-img(src='./img/projects__img-2.jpg',width=540,height=400, alt='Фото выполненного проекта')
                            .projects__description
                                h4.little__title.projects__description__title
                                 | ССК “ОЛИМП”
                                p.projects__description__text
                                 | Световое оформление форума “Шубы-2019”
                    li.projects__item
                        a.projects__link(href='#')
                            img.projects__link-img(src='./img/projects__img-1.jpg',width=540,height=400, alt='Фото выполненного проекта')
                            .projects__description
                                h4.little__title.projects__description__title
                                 | ССК “ОЛИМП”
                                p.projects__description__text
                                 | Световое оформление форума “Шубы-2019”
                    li.projects__item
                        a.projects__link(href='#')
                            img.projects__link-img(src='./img/projects__img-2.jpg',width=540,height=400, alt='Фото выполненного проекта')
                            .projects__description
                                h4.little__title.projects__description__title
                                 | ССК “ОЛИМП”
                                p.projects__description__text
                                 | Световое оформление форума “Шубы-2019”
                    li.projects__item
                        a.projects__link(href='#')
                            img.projects__link-img(src='./img/projects__img-1.jpg',width=540,height=400, alt='Фото выполненного проекта')
                            .projects__description
                                h4.little__title.projects__description__title
                                 | ССК “ОЛИМП”
                                p.projects__description__text
                                 | Световое оформление форума “Шубы-2019”
                    li.projects__item
                        a.projects__link(href='#')
                            img.projects__link-img(src='./img/projects__img-2.jpg',width=540,height=400, alt='Фото выполненного проекта')
                            .projects__description
                                h4.little__title.projects__description__title
                                 | ССК “ОЛИМП”
                                p.projects__description__text
                                 | Световое оформление форума “Шубы-2019”
                    li.projects__item
                        a.projects__link(href='#')
                            img.projects__link-img(src='./img/projects__img-1.jpg',width=540,height=400, alt='Фото выполненного проекта')
                            .projects__description
                                h4.little__title.projects__description__title
                                 | ССК “ОЛИМП”
                                p.projects__description__text
                                 | Световое оформление форума “Шубы-2019”
                    li.projects__item
                        a.projects__link(href='#')
                            img.projects__link-img(src='./img/projects__img-2.jpg',width=540,height=400, alt='Фото выполненного проекта')
                            .projects__description
                                h4.little__title.projects__description__title
                                 | ССК “ОЛИМП”
                                p.projects__description__text
                                 | Световое оформление форума “Шубы-2019”

