section.questions
    .questions__cont.cont
        h2.title.questions__title
         |  Частые вопросы
        ul.questions__list
            li.questions__item
                .questions__question
                    p.question__text
                     | Какой срок действия Stressrelief?
                .questions__answer
                    p.question__answer
                     | Не следует подвергать Stressrelief механическим и термическим воздействиям, нарушающим его целостность. Не следует держать в непосредственной близости от электроприборов, магнитов и электромагнитов.
                    p.question__answer
                     | Не следует использовать при беременности и у больных с психическими заболеваниями.
            li.questions__item
                .questions__question.questions__question_active
                    p.question__text.question__text_active
                     | Какие есть ограничения и противопоказания?
                .questions__answer.questions__answer_active
                    p.question__answer
                        | Не следует подвергать Stressrelief механическим и термическим воздействиям, нарушающим его целостность. Не следует держать в непосредственной близости от электроприборов, магнитов и электромагнитов.
                    p.question__answer
                        | Не следует использовать при беременности и у больных с психическими заболеваниями.
            li.questions__item
                .questions__question
                    p.question__text
                     | Что насчет доставки?
                .questions__answer
                    p.question__answer
                        | Не следует подвергать Stressrelief механическим и термическим воздействиям, нарушающим его целостность. Не следует держать в непосредственной близости от электроприборов, магнитов и электромагнитов.
                    p.question__answer
                        | Не следует использовать при беременности и у больных с психическими заболеваниями.
            li.questions__item
                .questions__question
                    p.question__text
                        | Stressrelief не помог, я могу его вернуть?
                .questions__answer
                    p.question__answer
                        | Не следует подвергать Stressrelief механическим и термическим воздействиям, нарушающим его целостность. Не следует держать в непосредственной близости от электроприборов, магнитов и электромагнитов.
                    p.question__answer
                        | Не следует использовать при беременности и у больных с психическими заболеваниями.
            li.questions__item
                .questions__question
                    p.question__text
                     | Есть разница между карточкой и кулоном?
                .questions__answer
                    p.question__answer
                        | Не следует подвергать Stressrelief механическим и термическим воздействиям, нарушающим его целостность. Не следует держать в непосредственной близости от электроприборов, магнитов и электромагнитов.
                    p.question__answer
                        | Не следует использовать при беременности и у больных с психическими заболеваниями.