section.rent
    .rent__cont.cont
        h2.title.rent__title
         | Аренда оборудования
        .rent__area
            .rent__desc
                p.rent__desc-text
                 | Мы занимаемся прокатом светового и сценического оборудования ведущих мировых производителей, таких как Robe, SGM, StudioDue, ChainMaster, Milos, Universal Effects, ArtLighting, MobilTech, Lampo, Martin, Spotlight, Compulite, Eurolite и др.
            .rent__slider
                 h4.little__title.rent__slider-title
                  | Новое оборудование, предоставляемое в аренду:
                 .rent__slider-list
                     .rent__slider-buttons.slider-buttons
                         button.slider-btn.slider-btn_prev(type='button')
                         button.slider-btn.slider-btn_next(type='button')
                     .rent__slider-item
                         .rent__slider-img
                             img.rent__slider-image(src='./img/slider__img.png',width=255,height=250, alt='Фото оборудования')
                         .rent__slider-descr
                             p.rent__text Robe Robin ParFect 100
                             ul.rent__specifications-list
                                 li.rent__specifications-item
                                    p.rent__specifications-text
                                     | Источник света 12 светодиодов RGBW  по 15 Вт каждый
                                 li.rent__specifications-item
                                    p.rent__specifications-text
                                     | Угол раскрытия 7°
                                 li.rent__specifications-item
                                    p.rent__specifications-text
                                     | В комплекте рассеивающая линза 40°
                                 li.rent__specifications-item
                                    p.rent__specifications-text
                                     | Потребляемая мощность 200 Вт
                     .rent__slider-item
                         .rent__slider-img
                             img.rent__slider-image(src='./img/slider__img.png',width=255,height=250, alt='Фото оборудования')
                         .rent__slider-descr
                             p.rent__text Robe Robin ParFect 100
                             ul.rent__specifications-list
                                 li.rent__specifications-item
                                     p.rent__specifications-text
                                         | Источник света 12 светодиодов RGBW  по 15 Вт каждый
                                 li.rent__specifications-item
                                     p.rent__specifications-text
                                         | Угол раскрытия 7°
                                 li.rent__specifications-item
                                     p.rent__specifications-text
                                         | В комплекте рассеивающая линза 40°
                                 li.rent__specifications-item
                                     p.rent__specifications-text
                                         | Потребляемая мощность 200 Вт