section.corrector
    .corrector__cont.cont
        p.corrector__descr
         |  Корректор эмоционального состояния
        h1.caption.corrector__caption
         |  stressrelief
        .btn__box
            a.btn.corrector__btn(href='#') Заказать